<header class="header">
    <h1 class="logo">
        <a routerLink="">
            <img src="../assets/logo2.png" alt="icono" title="Logo"></a>
    </h1>
    <div class="header-info">
        <ul class="header-list">
            <li><a routerLink="login">
                    <img src="../assets/login1.png" alt="icono" title="Login"></a>
            </li>
            <li><a routerLink="">
                    <img src="../assets/profile1.png" alt="icono" title="Salir"></a>
            </li>
        </ul>
    </div>
</header>

<body>
    <router-outlet></router-outlet>
</body>
