<div align="center" class="login">
  <p-card title="Login" [style]="{width: '290px'}" styleClass="ui-card-shadow">
    <p-header>
      <img src="../../../assets/admin.png">
    </p-header>
    <form action="">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input type="text" pInputText placeholder="Username">
      </div>
      <br />
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input type="password" pInputText placeholder="Password">
      </div>
    </form>
    <p-footer>
      <a href="dashboard"><button pButton type="button" label="Ingresar" icon="pi pi-user" style="margin-right: .25em"></button></a>
      <a href="registro"><button pButton type="button" label="Registro" icon="pi pi-users" class="ui-button-secondary"></button></a>
    </p-footer>
  </p-card>
</div>